env/
.env
*.pyc
draft.*
db.*
draft/
.vscode/
.idea/
.DS_STORE
testings/
mediafiles/
collectstatic/
.etc/
waliye_config.json
*/__pycache__/*.cpython-312.pyc
*/*/__pycache__/*.cpython-312.pyc
*/migrations/__pycache__/*.cpython-312.pyc
*.sqlite3
