{% extends "public/base.html" %}

{% load i18n cache %}

{% block title %}
    {% trans "Connexion" %} :: {{ site_name }}
{% endblock title %}


{% block extra_head %}
    <style>
        label {
            font-weight: normal !important;
            font-size: small !important;
            text-transform: uppercase !important;
        }
    </style>
{% endblock extra_head %}


{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12 py-5">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-2"></div>

                        <div class="col-12 col-sm-12 col-md-8">

                            <div class="card rouded-3 p-4">
                                <h1 class="h4 my-2 text-center">{% trans "Connectez-vous" %}</h1>
                                <div class="card-body">
                                    <div class="row my-3">
                                        <div class="col-3 col-sm-4 col-md-4">
                                            <label for="{{ form.email.auto_id }}" class="float-end">
                                                {% trans "Adresse électronique" %}
                                                <sup class="text-danger">*</sup>
                                            </label>
                                        </div>
                                        <div class="col-9 col-sm-8 col-md-8">
                                            {{ form.email }}
                                        </div>
                                    </div>

                                    <div class="row my-3">
                                        <div class="col-3 col-sm-4 col-md-4">
                                            <label for="{{ form.password.auto_id }}" class="float-end">
                                                {% trans "Mot de passe" %}
                                                <sup class="text-danger">*</sup>
                                            </label>
                                        </div>
                                        <div class="col-9 col-sm-8 col-md-8">
                                            {{ form.password }}
                                        </div>
                                    </div>


                                    <div class="row my-3">
                                        <div class="col-3 col-sm-4 col-md-4"></div>
                                        <div class="col-9 col-sm-8 col-md-8">
                                            <input id="togglePasswordId" type="checkbox" class="form-check-input me-2" onclick="togglePassword()">
                                            <label for="togglePasswordId">
                                                {% trans "Afficher le mot de passe" %}
                                            </label>
                                        </div>
                                    </div>

                                    {% if request.GET.next %}
                                        <input type="hidden" name="next" value="{{ request.GET.next }}" />
                                    {% endif %}

                                    <div class="row my-4">
                                        <div class="col-3 col-sm-4 col-md-4"></div>
                                        <div class="col-9 col-sm-8 col-md-8">
                                            <div class="row gap-1 d-grid">
                                                <button class="btn btn-success btn-sm">
                                                    {% trans "Connexion" %}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <p>
                                    <span class="float-start">
                                        {% trans "Créez" %}
                                        <a href="{% url 'templates-core:register' %}" class="text-decoration-none">
                                            {% trans "un compte admin" %}
                                        </a>
                                    </span>
                                </p>
                            </div>
                        
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}


{% block extra_scripts %}
    <script>
        // Toggle password
        var password = document.getElementById("{{ form.password.auto_id }}");
        function togglePassword() {
            if (password.type === "password") {
                password.type = "text";
            } else {
                password.type = "password";
            }
        }
    </script>
{% endblock extra_scripts %}
