    {% load static cache %}
    <link rel="shortcut icon" href="{% static 'assets/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'assets/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/favicon/favicon-32x32.png' %}" type="image/png" sizes="32x32">
    <link rel="shortcut icon" href="{% static 'assets/favicon/favicon-16x16.png' %}" type="image/png" sizes="16x16">
    <link rel="icon" href="{% static 'assets/favicon/favicon-32x32.png' %}" type="image/png" sizes="32x32">
    <link rel="icon" href="{% static 'assets/favicon/favicon-16x16.png' %}" type="image/png" sizes="16x16">
    <link rel="manifest" href="{% static 'assets/favicon/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/favicon/mstile-150x150.png' %}">
    <meta name="msapplication-TileColor" content="#ec4d29">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
